<div class="creat-note">
  <h1>新增課程</h1>
  <%= form_for @note do |f| %>
    <% if current_user %>
      <%= f.text_field :title, :placeholder => "標題", :class => "input-title" %><br>
      <br>
      <%= f.submit "完成", :class => 'submit-button'%>
    <% else %>
      <p>請先<%= link_to '登入', fb_login_path %>!!</p>
    <% end -%>
  <% end %>
</div>