.create-section {
	margin: 50px auto;
	border: 0px solid red;
	width: 30vw;
}

.create-section h1 {
	border-bottom: 3px solid #5a5a5a;
	padding: 15px 0;
	margin-bottom: 20px;
}

.create-section p {
	font-size: 1.2em;
	margin: 5px 0;
	border:0px solid red;
}

.create-section a 
{
	color: #459f69;
}

.create-section a:hover {
	color: #377F54;
}

.new {
	display: inline-block;
	padding: 5px 50px 5px 2px;
}

.url {
	display: inline-block;
	padding: 5px 5px 5px 0;
}

#urlHere {
	display: none;
}

