/* note layout sidebar */
.sidebar{
  width: 19vw;
  height: calc(100vh - 63px);
  float: left;
  overflow: auto;
  background-color: #DCDCDC;
  padding: 10px !important;
}

.side-note {
  border: 0px solid red;
}

/* courseTitle */
.note {
  border: 1px solid red;
  /*font-family: 'Noto Serif', serif;*/
  font-size: 1.5em;
  overflow:hidden;
  text-overflow:ellipsis;
}

#chapter { 
  border: 0px solid red;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 100%;
  margin-top: 20px; 
  background: transparent;
}

.chapter-style {
  border-radius: 0px;
  border: 0px solid #333;
  background: transparent;
  color: #5a5a5a;
  margin-bottom: 10px;  
}

.chapter-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  background: transparent;
  border-radius: 0px;
  border: 0px solid #333;
  color: #5a5a5a;
  font-weight: normal;
}

.chapter-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.chapter-expand-close {
  display: inline-block;
  float: right;
}

.section-style {
  border: 0px solid #333 !important;
  background: transparent !important;
  color: #5a5a5a !important;
  margin: 3px 0px !important;
}

.section-style a {
  color: #5a5a5a !important;
}

.section-style a:hover {
  color: #459f69 !important;
}

.insert-new-section {
  color: #5a5a5a !important;
  text-decoration: none;
}

.insert-new-section:hover {
  color: #459f69 !important;
  text-decoration: none;
}

.ui-state-highlight { 
  height: 10em; 
  line-height: 1.2em; 
}

.ui-state-highlight-sec { 
  border: 1px dotted red; 
  height: 50px;
}

/* note layout content */
.content{
  width: 81vw;
  height: calc(100vh - 63px);
  float: left;
  overflow: auto;
  background: green;
}
.header{
  display: none;
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }


/*  show.html */
.pad
{
  width: 1080px;
}
#pad_area
{
  width: 1080px;
}

