<div class = "subTitle">
    <div>我的最愛</div>
</div>
<div class = "refContainer">
	<% @likes.each do |like| %>
	  <% section = Section.find_by_id(like.likeable_id)%>
	  <% chapter = find_chapter(section) %>
	  <% note = find_note(chapter) %>
	  <div class = "ref"><%= link_to section.title, note_chapter_section_path(note,chapter,section) %></div>
	<% end %>
</div>


    
