<div id = "index_container">
      <div id = 'title-mask'>
        <div id = "title_container">
          <h1>Co-Learning</h1>
          <h2>Share your note and pass the exam together.</h2>
        </div>
      </div>
        <div id = "content_container">
          <div class = "subTitle">
            <div>Hot Notes</div>
          </div>
          <div class = "hotTagContainer">
            <% @notes.each do |note| %>
              <%= link_to(note) do %>
              <div class = "hotTags">
                <div>
                  <div class = "courseName"><%= note.title%></div>
                  <div class = "likeNumber"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;9967</div>
                </div>
              </div>
              <% end %>

              
            <% end -%>
           </div> 
          <div class = "subTitle">
            <div>Reference</div>
          </div>
          <div class = "refContainer">
            <a herf='http://www.csie.ntnu.edu.tw/~u91029/index.html'><div class = "ref">演算法筆記</div></a>
            <a herf='http://stackoverflow.com/'><div class = "ref">Stackoverflow</div></a>
            <a herf='https://drive.google.com/folderview?id=0B9qFeq29tGaLVndza2FqSmttNjQ&usp=drive_web'><div class = "ref">考古題</div></a>
            <a herf='https://www.codecademy.com/'><div class = "ref">Codecademy</div></a>
            <a herf='http://pastie.org/pastes/new'><div class = "ref">Pastie</div></a>
            <a herf='http://www.sharecourse.net/sharecourse/unit/nthu'><div class = "ref">Nthu ShareCourse</div></a>
          </div>
          <div class = "subTitle">
            <div>About Us</div>
          </div>
          <div class = "aboutContainer">
            我們是來自清大資工16級一群試圖改變這冷漠世界的有為青年。</br>
            我們有個夢想，有一天人們會無私的分享知識。</br>
            我們希望藉由開創這個共筆系統，幫助同學可以互補互助一齊度過萬惡考試。</br>
            若是有任何問題，請洽詢：</br></br>
            資工16 詹逸衡 09xxxxxxxx xxx@gmail.com</br>
            <b>#詹神想做什麼就做什麼</b></br></br>

            We are four promising youths from NTHU CS 16th who have been trying to change the cold world.</br> We all have a dream, that one day, people will share their knowledge selflessly. </br>
            We hope to help our fellows pass their f**king exams all together by this co-editing system.</br>
            Feel free to contact us if you have any further questions.</br></br>
            NTHU CS 16th Jhan_god +8869XXXXXXXX iamgod@gmail.com</br>
            <b>#Jhan_god_can_do_anything</b>
          </div>
        </div>
      </div>

      <footer id = "licence"><!--optional-->
      </footer>