
<iframe id = 'note-pad' src="https://openeducationresource.hackpad.com/<%=@section.padId%>" style="width:100%;height:100%;"></iframe>

<div id="qa-area" class="hidden" style="width:100%;height:100%;">

<% if @section.qa_pad_id==nil%>

<div class="create-Qapad">
  <h1>創建Q&A討論版</h1>
	<%= link_to "創立", createqa_section_path(@section,:format => :js), :remote=>true, method: :post ,:class=>'submit-button'%>
</div>

<% else %>
<iframe id='qa-pad'  src="https://openeducationresource.hackpad.com/<%=@section.qa_pad_id%>" style="width:100%;height:100%;"></iframe>
<% end %>
</div>