console.log('haha');

i = "section<%=@chapter.id%>";
what = "<%=j best_in_place @chapter,:title, :class => 'bip-chapter-title',:chapter_id => @chapter.id  %>";

$("#chapter").append("<li id=\"chapter_out\" class=\"ui-state-chapter chapter-style\"><div class=\"chapter-header\">Ch <%= @chapter.index%>"+what+"</div><div class=\"closeThis\"><ul id=\""+i+"\" class=\"connectedSortable\"><li class=\"insert-new-section-li\"><%=j link_to '新增' , new_note_chapter_section_path(current_note,@chapter), :class => 'insert-new-section'%></li></ul></div></li>");

addSortable(i);
addStyle();